<!--script padrao de html-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>layout padrão do projeto</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>