<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>utilizando o handlebars</title>
    </head>
    <body>
        {{{body}}} <!---é necessário essecomando para que o handlebars reconhecça aonde colocar o documento-->
    </body>
</html>