<form action="/add" method="POST" >
    <p>Titulo: </p>
    <input type="text" name="titulo"> 
    <p>Conteudo: </p>
    <input type="text-area" name="conteudo">
    <button type="submit">Botão de envio</button>
</form>

<!--o atributo 'name' vai ajudar a encontrar as variaveis inseridas-->